<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="OrderSetting">
      <section name="OrderMapping" type="System.Configuration.DictionarySectionHandler" />
      <section name="OrderCarrierMapping" type="System.Configuration.DictionarySectionHandler" />
      <section name="MagentoStatutId" type="System.Configuration.DictionarySectionHandler" />
      <section name="MultiLangue" type="System.Configuration.DictionarySectionHandler" />
      <section name="InfoLibre" type="System.Configuration.DictionarySectionHandler" />
      <section name="InfoLibreValue" type="System.Configuration.DictionarySectionHandler" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  <appSettings>
    <add key="SERVER" value="ALTAIS-XAPP0150\SAGE100" />
    <add key="DBNAME" value="BIJOU" />
    <add key="SQLUSER" value="sa" />
    <add key="SQLPWD" value="Inax2f5q!" />
    <!-- Magento2 Configuration -->
    <add key="TOKEN" value="7fjaf3rzwxl8o0ytokfqutykww7j1vd9" />
    <add key="STORE" value="1" />
    <add key="WEBSITE" value="1" />
    <add key="CATEGORY" value="15" />
    <add key="ATTRIBUTESETID" value="10" />
    <add key="DefaultExpeditionReference" value="TRANSPORT" />
    <add key="DefaultRemiseReference" value="REMISE" />
    <add key="EDITARTICLE" value="TRUE" />
    <!-- END Magento2 Configuration -->
    <add key="USER" value="ALTAIS" />
    <add key="BASEURL" value="https://carole-bureau.altais.fr/" />
    <add key="CK" value="ck_68acd0d8325a19c2a61f81ccf16c4958b761f98f" />
    <add key="CS" value="cs_917117888da44ebc2555bdb46231c8a73f57c9e9" />
    <!-- ARTICLE CONFIGURATION -->
    <add key="CategorieTarif" value="Grossistes" />
    <add key="CRONSYNCHROPRODUCT" value="00:00" />
    <add key="CRONSYNCHROPRODUCTDONE" value="FALSE" />
    <add key="TVA" value="20" />
    <add key="ARRONDI" value="2" />
    <add key="Depot" value="TRUE" />
    <add key="DEFAULTSTOCK" value="TRUE" />
    <add key="LOCALDB" value="FALSE" />
    <!-- END ARTICLE CONFIGURATION -->
    <add key="CRONTASKUPDATESTATUT" value="100000000" />
    <add key="CRONTASKCHECKFORNEWORDER" value="100000000" />
    <!-- COMMANDE CONFIGURATION -->
    <add key="COMPTG" value="" />
    <add key="CATTARIF" value="" />
    <add key="CONDLIVRAISON" value="" />
    <add key="EXPEDITION" value="" />
    <add key="SOUCHE" value="N° Pièce" />
    <add key="CATEGORIECOMPTABLEDEFAUT" value="Ventes TVA" />
    <add key="CATEGORIECOMPTABLEFOREIGNER" value="Ventes CEE" />
    <!-- END COMMANDE CONFIGURATION -->
    <add key="PREFIXCLIENT" value="PREFIX" />
    <add key="CONTACTCONFIG" value="1" />
    <!-- SAGE CONFIGURATION -->
    <add key="GCM_SET" value="TRUE" />
    <add key="GCM_PATH" value="C:\Users\Public\Documents\Sage\Entreprise 100c\Bijou.gcm" />
    <add key="GCM_USER" value="&lt;Administrateur&gt;" />
    <add key="GCM_PASS" value="" />
    <add key="MAE_SET" value="TRUE" />
    <add key="MAE_PATH" value="C:\Users\Public\Documents\Sage\Entreprise 100c\Bijou.MAE" />
    <add key="MAE_USER" value="&lt;Administrateur&gt;" />
    <add key="MAE_PASS" value="" />
    <!-- END SAGE CONFIGURATION -->
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <OrderSetting>
    <OrderMapping>
      <add key="default" value="1_2_3" />
      <add key="1" value="DocumentTypeVentePrepaLivraison_Préparation de livraison" />
      <add key="2" value="DocumentTypeVenteLivraison_Bon de livraison" />
      <add key="3" value="DocumentTypeVenteFacture_Facture" />
    </OrderMapping>
    <OrderCarrierMapping>
      <add key="default" value="---" />
      <add key="1" value="Exapaq" />
      <add key="2" value="Colissimo Expert F" />
      <add key="3" value="Enlèvement sur place" />
      <add key="4" value="Ici Relais" />
    </OrderCarrierMapping>
    <MagentoStatutId>
      <add key="default" value="2_3_1" />
      <add key="1" value="processing" />
      <add key="2" value="pending" />
      <add key="3" value="completed" />
    </MagentoStatutId>
    <MultiLangue>
      <add key="default" value="1_2_1_1" />
      <add key="1" value="Français" />
      <add key="2" value="Anglais" />
    </MultiLangue>
    <InfoLibre>
      <add key="default" value="1_2_3_4" />
      <add key="1" value="1ère commercialisation" />
      <add key="2" value="Marque commerciale" />
      <add key="3" value="Objectif / Qtés vendues" />
      <add key="4" value="Pourcentage teneur en or" />
    </InfoLibre>
    <InfoLibreValue>
      <add key="default" value="1_2_3_4" />
      <add key="1" value="5" />
      <add key="2" value="6" />
      <add key="3" value="7" />
      <add key="4" value="8" />
    </InfoLibreValue>
  </OrderSetting>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>